{$DOMAIN} {
	handle /api/* {
		reverse_proxy api-gateway:8080
	}

	handle {
		root * /srv/fe-dist
		try_files {path} /index.html
		file_server
	}
}

auth.{$DOMAIN} {
	reverse_proxy keycloak:8080
}

cdn.{$DOMAIN} {
	reverse_proxy minio:9000
}
