{$DOMAIN} {
	@api path /api/*
	reverse_proxy @api api-gateway:8080

	root * /srv/fe-dist
	file_server
	try_files {path} /index.html
}

auth.{$DOMAIN} {
	reverse_proxy keycloak:8080
}

cdn.{$DOMAIN} {
	reverse_proxy minio:9000
}
